---
import Link from '@components/Link.astro';
import Showcase from '@components/Showcase.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import featured from '../assets/images/red-black.jpg';
import sitting from '../assets/images/sitting.png';
import logo from '../icons/logo.svg';
import Hero from '@components/Hero.astro';
import ShowcaseSingle from '@components/ShowcaseSingle.astro';
import CTA from '@components/IconCTA.astro';
import PeopleTeaser from '@components/PeopleTeaser.astro';
import HomeLayout from '@layouts/HomeLayout.astro';

import { getCollection, getEntry, type CollectionEntry } from 'astro:content';
const peopleEntries: CollectionEntry<'homePage'>[] =
  await getCollection('homePage');

const { Content } = await peopleEntries[0].render();

console.log(peopleEntries[0].data.hero);
---

<BaseLayout>
  <div class="flex flex-col gap-12 md:gap-24">
    <Content />
    <Hero
      img={peopleEntries[0].data.hero?.img}
      imgAlt="NW logo"
      shadow={true}
      background="secondary"
      textPosition="left"
      imgSize="contain"
      textStyle="elegant"
      linkStyle="primary"
      linkTarget="/work"
    />

    <Hero
      img={logo}
      imgAlt="NW logo"
      imgSize="contain"
      imgPadding={true}
      textPosition="right"
    />

    <Hero
      img={featured}
      imgAlt="NW logo"
      textPosition="center"
      textStyle="poster"
      linkStyle="retro"
    />

    <PeopleTeaser />

    <section id="more">
      <Showcase items={3} heading="Work" layout="fullHeight" />
    </section>

    <ShowcaseSingle name="three" layout="horizontal" />
  </div>
</BaseLayout>
