---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import { cva } from 'class-variance-authority';

import One from '@assets/images/leaf-blue.jpg';
import Two from '@assets/images/red-black.jpg';
import Three from '@assets/images/orange-blue.jpg';
import Four from '@assets/images/sitting.png';
import Five from '@assets/images/man.jpg';

const {
  title = 'Modular. Connected. Scaleable.',
  byline = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, at dolorum? Perspiciatis eaque tempore a rem ullam sint provident omnis officiis quae eveniet?',
  layout = 'vertical',
  shape = 'square',
  border = true,
  icons = {
    one: 'layers-line',
    two: 'node-group-line',
    three: 'launchpad-line',
  },
} = Astro.props;

const styles = cva(
  'overflow-hidden mx-auto grid grid-cols-8 h-96 w-3/4 grid-rows-5 gap-2',
  {
    variants: {
      layout: {
        horizontal: [''],
        vertical: [''],
      },
      border: {
        true: ['border border-base-200 p-12'],
        false: [''],
      },
    },
  }
);

const shapeStyle = cva('aspect-square w-full p-8 h-auto my-auto', {
  variants: {
    shape: {
      rounded: ['rounded-full'],
      square: ['rounded-md '],
    },
  },
});
---

<div class={styles({ border, layout })}>
  <Image
    class="row-start-1 row-span-2 w-full h-full border border-primary-400 border-4 col-span-3 object-cover"
    src={One}
    alt=""
  />
  <Image
    class="row-start-1 w-full h-full col-span-2 row-span-full col-start-4 object-cover"
    src={Two}
    alt=""
  />
  <Image
    class="row-start-3 row-span-3 w-full h-full border border-primary-400 border-4 col-span-3 object-cover"
    src={Five}
    alt=""
  />
  <Image
    class="row-start-2 row-span-2 w-full h-full border border-primary-400 border-4 col-start-6 col-span-2 object-cover"
    src={Four}
    alt=""
  />
  <Image
    class="row-start-4 row-span-2 w-full h-full border border-primary-400 border-4 col-start-6 col-span-4 object-cover"
    src={Three}
    alt=""
  />
</div>
