---
export const prerender = false;
import '@assets/styles/base.css';
import Footer from '@components/global/Footer.astro';
import Header from '@components/global/Header.astro';
import Seo from '@components/global/Seo.astro';
import Search from '@components/utilities/Search.astro';
import { getImage } from 'astro:assets';
import { getEntry } from 'astro:content';
import { ViewTransitions } from 'astro:transitions';
import { cva } from 'class-variance-authority';
const { pageData } = Astro.props.frontmatter || Astro.props;
const siteSettings = await getEntry('settings', 'site');

const isDev = import.meta.env.DEV;

const id = Astro.url.pathname.substring(1) || 'home';

const baseLayout = cva(
  'px-3 py-3 md:px-12 md:pt-12 md:pb-24 max-w-screen-2xl',
  {
    variants: {
      layout: {
        default: ['space-y-6'],
        grid: ['grid grid-cols-1 md:grid-cols-3 gap-12'],
      },
    },
  }
);

const socialImage = pageData?.featuredImg
  ? await getImage({
      src: pageData.featuredImg?.image as ImageMetadata,
      height: 600,
      width: 1200,
      format: 'webp',
    })
  : await getImage({
      src: siteSettings.data.socialImage?.image as ImageMetadata,
      height: 600,
      width: 1200,
      format: 'webp',
    });
---

<!doctype html>
<html class="scroll-smooth scroll-pt-6" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {!isDev && <link rel="sitemap" href="/sitemap-index.xml" />}
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <Seo
      pageData={pageData}
      settings={siteSettings.data}
      socialImage={socialImage}
    />

    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js" is:inline></script>

    <ViewTransitions />
  </head>

  <body
    id={id}
    class="min-h-[101vh] flex flex-col justify-between dark:bg-base-900"
  >
    <Header
      siteTitle={siteSettings.data.title}
      logoIcon={siteSettings.data.logoSVG}
    />

    <main class="py-3 md:pt-12 md:pb-24 max-w-screen-2xl">
      <slot />

      {id !== 'home' && <Search style="border" />}
    </main>

    <Footer
      siteTitle={siteSettings.data.title}
      socialLinks={siteSettings.data.socialLinks}
    />
  </body>
</html>
